/* Import Google Font */
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Space+Grotesk:wght@300;400;500;600;700&display=swap');

/* Wildcard selector to override default styles added by the browser */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

h1, h2, h3 {
    text-align: center;
    font-family: Caveat, cursive;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #434F5B;
}

/* General Styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color:#434F5B;
    font-family: Caveat, cursive;
}

/* Header */
header {
    font-family: 'Space Grotesk', sans-serif;
    width: 100%;
    position: fixed;
    text-align: center;
    border: 3px solid #2E2E2E;
    padding: 1rem;
    z-index: 99;
/* margin: 0px auto; */
    box-shadow: 0px 0px 15px #434F5B;
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    background: url('../images/pexels-david-bartus-1510543.jpg') no-repeat center center/cover;
}

.heading {
    padding-left: 1rem;
}

header a {
    text-decoration: none;
    color: inherit;
}

h1{
    color: #ffffff;
    text-transform: uppercase;
}

#nav-toggle:checked~nav {
    display: block;
}

nav {
    position: absolute;
    width: 100%;
    color:#fafafa;
    left: 0;
    padding: 0 1rem;
    box-shadow: 0 2px 2px #3a3a3a;
    display: none;
    top: 100%;


}

#topnav {
    font-size: 110%;
}

#topnav li {
    margin-bottom: 1rem;
    list-style-type: none;
}

.current {
    border-bottom: 1px solid #fafafa;
}

  
#nav-toggle {
    display: none;

}

.nav-toggle-label {
    background-color: #fafafa;
}


/* Main Content */
main {
    margin-top: 95px;
    /* background-color: #ece7ed; */
    background: linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.5)), url(../images/black-cats-heading.jpeg) no-repeat top center/cover;
    /* Make main element take up any surplus space to push the footer down */
    flex: 1 0 auto;
}

.section {
    padding: 1rem; /* Set padding for each section */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); /* Add a subtle box shadow */

  }

.section h3 {
    display:inline-flex
}

#highlights {
    padding: 0 3.5rem 1rem;
}

main h2, main h3 {
    display: flex;
    justify-content: space-evenly;
    margin-top: 1rem;
    margin-bottom: 0.5rem;
}

.schedule {
    padding-left: 25px;
}

.schedule ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    font-weight:bold;
    justify-content: space-around;
    padding-right: 2rem;
}

.schedule ul li {
    width: 48%; 
    box-sizing: border-box; 
    margin-bottom: 0.5rem; 
    padding: 0.5rem;
    border: 1px solid #230505;
}

#tickets {
    color: #290f0f;
}


#tickets ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding-right: 2rem;
}


.rsvp-with-bg {
    background: url(../images/pexels-helena-lopes-1931367.jpg) no-repeat center / cover;
}

form label, form input {
    color: #fafafa;;
    display: flex;
    margin: 0.2rem;
    background: transparent;
    font-size: 110%;
}

#submit {
    color: #ffffff;
    border: 1px solid #0f0000;
    font-family: Caveat, cursive;
    font-size: 110%;
}

/* Footer */
footer {
    background-color: #fafafa;
}

#social-media {
    text-align: center;
    padding: 20px 0;
    display: flex;
    justify-content: space-evenly;
    list-style-type: none;
}

#social-media i {
    font-size: 160%;
    padding: 5%;
    color: #10151a;
}

/* Media Query: Overriding styles for tablets and larger (768px and up) */
@media screen and (min-width: 768px) {
    /* Header */
    nav {
        position: relative;
        display: block;
        box-shadow: none;
        padding-right: 1rem;
        width: fit-content;
    }

    #nav-menu {
        display: flex;
    }

    #nav-menu li {
        padding-left: 1rem;
    }

    .nav-toggle-label {
       display:none;
    }

    #logo {
        font-size: 200%;
        margin: 0 0.3rem;
    }
}

/* Media Query: Overriding styles for laptops and larger (992px and up) */
@media screen and (min-width: 992px) {

    h1, h2, h3 {
        text-align: center;
        font-family: Caveat, cursive;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
    }

    .section p, .section ul {
        font-size: larger;
    }

    #nav-menu a:hover {
        border-bottom: 1px solid #434F5B;
    }

    #submit:hover {
        color: #0f0000;
        border: 1px solid #ffffff;
    }
}